<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			 <pattern>%date{HH:mm:ss.SSS} %level - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
	</appender>
	<root level="info">
		<appender-ref ref="stdout" />
	</root>	
	<logger name="nl.erdf">
		<level value="info" />
	</logger>
</configuration>
